<!--=============== This is a breakfast page ===============-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> Recipe </title>
</head>
<body>
    <a href ="../index.html" > </a><img src="/static/logo/logo_transparent.png" alt="Your Logo">
    <div class="topnav">
        <a href = "/" href="../index.html">Home</a>
        <a href="breakfast" href="../breakfast.html">Search Recipe</a>
        <a href="login" href="../login.html">Login</a>
    </div>

    <div class="search-container">
        <form method="POST" onsubmit="return validateForm()">
            <select name="cuisineType" required>
                <option value="">Select Cuisine Type</option>
                <option value="None">None</option>
                <option value="american">American</option>
                <option value="asian">Asian</option>
                <option value="british">British</option>
                <option value="caribbean">Caribbean</option>
                <option value="central europe">Central Europe</option>
                <option value="chinese">Chinese</option>
                <option value="eastern europe">Eastern Europe</option>
                <option value="french">French</option>
                <option value="greek">Greek</option>
                <option value="indian">Indian</option>
                <option value="italian">Italian</option>
                <option value="japanese">Japanese</option>
                <option value="korean">Korean</option>
                <option value="kosher">Kosher</option>
                <option value="mediterranean">Mediterranean</option>
                <option value="mexican">Mexican</option>
                <option value="middle eastern">Middle Eastern</option>
                <option value="nordic">Nordic</option>
                <option value="south american">South American</option>
                <option value="south east asian">South East Asian</option>
                <option value="world">World</option>
            </select>
            
            <select name="mealType" required>
                <option value="">Select Meal Type</option>
                <option value="None">None</option>
                <option value="breakfast">Breakfast</option>
                <option value="brunch">Brunch</option>
                <option value="brunch">Brunch</option>
                <option value="lunch">Lunch</option>
                <option value="snack">Snack</option>
                <option value="teatime">Teatime</option>
            </select>
            <input type="text" placeholder="Search..." name="search" required>
            <button type="submit">Search</button>
        </form>
    </div>     


    <div class="search-results">
        {% if results is not none %}
            
            <div class="recipe-container">
                {% for recipe in results %}
                    <div class="recipe-box">
                        <!-- Link to the recipe detail page, opens in a new tab -->
                        <a href="{{ url_for('recipe_detail', recipe_name=recipe[0]) }}" target="_blank" class="recipe-link">
                            <h3 class="recipe-name">{{ recipe[0] }}</h3>
                            <img src="{{ recipe[2] }}" alt="Recipe Image" class="recipe-image">
                            <ul class="ingredients-list">
                                {% for ingredient in recipe[1] %}
                                    <li>{{ ingredient["text"] }}</li>
                                {% endfor %}
                            </ul>
                        </a>
                        {% if login == True %}
                            <label class="add-fav">
                                <input type="checkbox" />
                                <span class="icon-heart">❤️</span>
                            </label>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-results-message"> No recipes found. Try a different search.</p>
        {% endif %}
    </div>
    
    
    <!--=============== MAIN JS ===============-->
    <script src="/static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>
